.my-button {
    cursor: pointer;
    background-color: #fff;
    margin: 2px 0;
    width: fit-content;
    min-width: 100%;
    max-height: 24px;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow:ellipsis;
    list-style: none;
    animation: ch .25s ease-in-out;
}

@keyframes ch {
    0% {
        max-height: 0px;
        margin: 0;
    }
    100% {
        max-height: 24px;
        margin: 2px 0;
    }
}

.my-button:hover {
    background-color: rgb(219, 219, 219);
    color: rgb(41, 141, 248);
}
