.hover-up-menu,
.hover-down-menu {
    position: absolute;
    width: 100px;
    background: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-up-menu::after {
    content: "";
    position: absolute;
    display: block;
    border: 5px solid transparent;
    top: -10px;
    left: 48%;
    border-bottom-color: #fff;
}

.hover-down-menu::after {
    content: "";
    position: absolute;
    display: block;
    border: 5px solid transparent;
    bottom: -10px;
    left: 48%;
    border-top-color: #fff;
}
