.imginfo-list {
    position: relative;
    width: 100%;
    display: flex;
    min-height: 88px;
    padding: 10px 18px;
}

.infolist-imgbox {
    width: 200px;
    height: 150px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgb(219,219,219);
    position: relative;
}

.img-show {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    cursor: pointer;
}

.infolist-list {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(219,219,219);
}

.img-info {
    margin: 0 10px;
    width: 300px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-taglist {
    padding: 2px 5px;
    max-height: 150px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
}
.img-taglist::-webkit-scrollbar {display:none}

.img-tag {
    padding: 1px 2px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(219,219,219);
    cursor: pointer;
}

.img-tag:hover {
    color: #fff;
    background-color: #20a0ff;
}

.img-actionlist {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-actionlist span{
    cursor: pointer;
    fill: #8a8a8a;
    width: 24px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
}

.img-actionlist span:hover{
    fill: rgb(41, 141, 248);
}